.nav {
  position: fixed;
  top: 0;
  min-width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
}

.nav,
.nav a {
  color: var(--white-color);
  text-decoration: none;
}

.nav-layout,
.left-nav,
.center-nav .mobile-mode,
.center-nav .search-menu,
.mobile-mode span,
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-layout {
  max-width: 100%;
  padding: 0px 10px;
  justify-content: space-between;
}

.left-nav img {
  width: 28px;
}

.left-nav span {
  display: none;
}

.center-nav .desktop-mode {
  display: none;
}

.center-nav .mobile-mode {
  gap: 28px;
}

.desktop-mode svg,
.mobile-mode span svg {
  width: 24px;
  height: 24px;
  color: var(--grey-color);
  cursor: pointer;
}

.desktop-mode a:hover,
.desktop-mode .search-menu:hover,
.mobile-mode span:hover svg {
  color: var(--white-color);
}

.right-nav svg {
  display: none;
}

.right-nav .user {
  width: 20px;
  background-color: #689f39;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 5px 14px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 615px) {
  .left-nav span {
    display: inline-block;
    font-size: 24px;
  }

  .center-nav .mobile-mode {
    gap: 38px;
  }
}

@media screen and (min-width: 935px) {
  .nav-layout {
    padding: 10px;
  }

  .center-nav .mobile-mode {
    display: none;
  }

  .center-nav .desktop-mode {
    display: flex;
    gap: 34px;
    font-size: 22px;
  }

  .desktop-mode a,
  .search-menu svg {
    color: var(--grey-color);
  }

  .search-menu span {
    display: none;
  }
}

@media screen and (min-width: 1148px) {
  .nav-layout {
    padding: 10px 14px;
  }

  .left-nav {
    gap: 5px;
    text-decoration: none;
    color: inherit;
  }

  .left-nav img {
    width: 28px;
  }

  .left-nav span {
    font-size: 22px;
  }

  .center-nav {
    display: flex;
    gap: 50px;
    font-size: 20px;
  }

  .center-nav .search-menu {
    cursor: pointer;
    gap: 15px;
  }

  .search-menu span {
    display: inline-block;
    color: var(--grey-color);
    cursor: pointer;
  }

  .search-menu:hover svg,
  .search-menu:hover span {
    color: var(--white-color);
  }

  .center-nav a {
    color: var(--grey-color);
    text-decoration: none;
  }

  .right-nav {
    gap: 20px;
  }

  .cast-icon {
    cursor: pointer;
  }

  .user {
    padding: 7px 16px;
    color: #e5f2de;
  }
}
